.container{
    margin-bottom: 80px;
}
.nav-color{
    background-color: #fff;
}
.my-item{
    padding: 20px 40px;
}
.bg-1{
    background-image: url("images/bg-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
.my-button{
    border-style: none;
    background-color: #000;
    color: aliceblue;
    padding: 7px 12px;
    border-radius: 7px;
    justify-content: center;
}
.content-1{
    width: 70%;
    margin-top: 80px;
}
.content-1 p{
    color:rgb(83, 85, 85);
    line-height: 28px;
}
/* .bg-1{
    background-color: #000;
} */
.shadow{
   border: none;
   box-shadow: 5px 5px 10px lightgray;
   padding: 10px; 
}
.catagory-1{
    display: flex;
}
hr{
    display: block;
    height: 5px;
    width: 20vh;
    border: 0;
    border-radius: 5px;
    border-top: 10px solid orangered;
    margin: 1em 0;
    padding: 0;
    
}
.categories-color h1{
    text-align: center;

}

.last-img{
    width: 100%;
}
.img{
   width: 180px;
}
.img-left{
    margin-right: 50px;
    margin-top: 200px;
}